<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Travelo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="static/css/style.css">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body onload="onLoadDetails()">
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
				<![endif]-->


	<!-- header-start -->
	<header>
		<div class="header-area">
			<div id="sticky-header" class="main-header-area py-3">
				<div class="container-fluid">
					<div class="header_bottom_border">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-2">
								<div class="logo">
									<a href="/home">
										<img src="static/img/logo.png" alt="">
									</a>
								</div>
							</div>
							<div class="col-xl-6 col-lg-8"></div>
							<div class="col-xl-4 col-lg-2 d-none d-lg-block">
								<div class="social_wrap d-flex align-items-center justify-content-end m-0">
									<div class="main-menu d-none d-lg-block">
										<nav>
											<ul id="navigation">
												<li><a class="active" href="index.html">home</a></li>
												<li><a href="contact.html">Sign In</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<!-- <div class="seach_icon">
								<a data-toggle="modal" data-target="#exampleModalCenter" href="#">
									<i class="fa fa-search"></i>
								</a>
							</div> -->
							<div class="col-12">
								<div class="mobile_menu d-block d-lg-none"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- header-end -->

	<div class="destination_details_info pt-3 pb-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9">
					<img id="recipeImage" src="" class="w-100 pb-4">
					<h2 id="recipeName"></h2>
					<p id="recipeDishTypes" class="pt-2"></p>
					<div class="row">
						<div class="col-lg-3 col-md-5 col-12 pt-3">
							<p><i class="fa fa-user pr-2"></i><span id="recipeServing"></span> servings</p>
						</div>
						<div class="col-lg-9 col-md	-7 col-12 pt-3">
							<p><i class="fa fa-clock-o pr-2"></i><span id="recipeTime"></span> minutes</p>
						</div>
					</div>

					<div class="bordered_1px"></div>

					<div class="destination_info">
						<h3>Equipments</h3>
						<div class="single_destination">
							<ul id="equipment-container" class="unordered-list">
							</ul>
						</div>
					</div>

					<div class="bordered_1px"></div>

					<div class="destination_info">
						<h3>Ingredients</h3>
						<div class="single_destination">
							<ul id="ingredient-container" class="unordered-list">
							</ul>
						</div>
					</div>

					<div class="bordered_1px"></div>

					<div class="destination_info">
						<h3>Procedure</h3>
						<div id="instruction-container"></div>
					</div>

					<div class="bordered_1px"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="popular_places_area" style="background-color: #F7FAFD;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section_title text-center mb_70">
						<h3>Similar Recipe</h3>
					</div>
				</div>
			</div>
			<div id="similar-container" class="row d-flex justify-content-center"></div>
		</div>
	</div>

	<footer class="footer">
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-12">
						<p class="copy_right text-center">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Modal -->
	<div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="serch_form">
					<input type="text" placeholder="Find recipe">
					<button type="submit">Search</button>
				</div>
			</div>
		</div>
	</div>


	<script src="static/js/script.js"></script>
</body>

</html>