@media (min-width: 992px) and (max-width: 1200px) {
  /* line 29, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
  .where_togo_area .search_wrap .input_field {
    max-width: 170px;
  }
}

@media (max-width: 767px) {
  /* line 29, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
  .where_togo_area .search_wrap .input_field {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* line 41, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid #363E52;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

/* line 49, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field input::placeholder {
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 300;
}

/* line 55, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field input:focus {
  outline: none;
}

/* line 59, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 300;
  background: transparent;
  border: 1px solid #363E52;
}

@media (max-width: 767px) {
  /* line 59, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
  .where_togo_area .search_wrap .input_field .nice-select {
    margin-bottom: 15px;
  }
}

/* line 71, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field .nice-select::after {
  content: '\f0d7 ';
  right: 21px;
  top: 5px;
  font-family: 'fontawesome';
  color: #AAB1B7;
  font-size: 16px;
}

/* line 79, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-weight: 400;
}

/* line 94, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.where_togo_area .search_wrap .input_field .nice-select.open .list {
  width: 100%;
}

/* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.gj-datepicker-md [role="right-icon"] {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 16px;
  color: #919191;
  margin-right: 15px;
  position: absolute;
  top: 16px;
  right: 10px;
  color: #AAB1B7;
}

/* line 115, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_where_to_go.scss */
.gj-picker-md div[role="navigator"] {
  padding-left: 30px !important;
}

/* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .popular_destination_area {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

/* line 8, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 14, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:before {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#040e27+0,040e27+100&0+0,0.7+100 */
  background: -moz-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
  /* IE6-9 */
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

/* line 30, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .thumb img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 35, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 7;
}

/* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p {
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 47, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination .content p a {
  display: inline-block;
  background: #FF4A52;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 400;
  padding: 0px 12px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 65, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p {
  color: #FF4A52;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 68, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination:hover .content p a {
  background: #FF4A52;
  color: #fff;
}

/* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap {
  background-image: url(../img/hero-banner.jpg);
  padding: 150px 0;
  background-size: cover;
  background-position: center center;
}

.search_banner_wrap {
  background-image: url(../img/search-banner.jpg);
  padding: 150px 0;
  background-size: cover;
  background-position: center bottom;
}

.explore_banner_wrap {
  background-image: url(../img/explore-banner.jpg);
  padding: 150px 0;
  background-size: cover;
  background-position: center bottom;
}

@media (max-width: 767px) {
  /* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap {
    padding: 150px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap {
    padding: 250px 0;
  }
}

/* line 91, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap.overlay:before {
  opacity: .3;
}

/* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap .destination_text h3 {
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  /* font-family: "Nothing You Could Do", cursive; */
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap .destination_text h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 95, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_banner_wrap .destination_text h3 {
    font-size: 60px;
    line-height: 70px;
  }
}

/* line 110, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_banner_wrap .destination_text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info {
  padding-bottom: 150px;
  padding-top: 70px;
}

@media (max-width: 767px) {
  /* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_details_info {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
  .destination_details_info {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* line 129, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .bordered_1px {
  border-top: 1px solid #E4E6E8;
  margin-top: 65px;
  padding-bottom: 65px;
}

/* line 135, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info h3 {
  font-size: 24px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 25px;
}

/* line 142, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info p {
  margin-bottom: 20px;
}

/* line 145, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info .single_destination {
  margin-bottom: 22px;
}

/* line 147, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .destination_info .single_destination h4 {
  font-size: 16px;
  font-weight: 500;
}

/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join h3 {
  font-size: 24px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 32px;
}

/* line 163, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input {
  margin-bottom: 20px;
}

/* line 165, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input, .destination_details_info .contact_join .single_input textarea {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #000;
  padding-left: 15px;
  border: none;
}

/* line 173, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input::placeholder, .destination_details_info .contact_join .single_input textarea::placeholder {
  color: #727272;
  font-size: 14px;
  font-weight: 300;
}

/* line 179, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input input:focus, .destination_details_info .contact_join .single_input textarea:focus {
  outline: none;
}

/* line 183, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .single_input textarea {
  height: 115px;
  padding: 15px;
}

/* line 189, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.destination_details_info .contact_join .submit_btn button {
  width: 100%;
  text-align: center;
}


/* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F7FAFD;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
  .popular_places_area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* line 9, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

/* line 15, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .thumb {
  position: relative;
  overflow: hidden;
}

/* line 18, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .thumb img {
  width: 100%;
}

/* line 21, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .thumb .prise {
  position: absolute;
  background: #FF4A52;
  padding: 7px 18px 4px 18px;
  display: inline-block;
  top: 20px;
  left: 20px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 34, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info {
  padding: 27px 20px 25px 20px;
}

/* line 36, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info h3 {
  font-size: 22px;
  font-weight: 400;
  color: #040E27;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 43, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info p {
  font-size: 14px;
  font-weight: 400;
  color: #7A838B;
  margin-top: 2px;
  margin-bottom: 7px;
}

/* line 52, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info .rating_days span i {
  font-size: 12px;
  color: #FDAE5C;
}

/* line 56, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info .rating_days span a {
  font-size: 14px;
  color: #7A838B;
  margin-left: 5px;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info .rating_days .days {
  font-size: 14px;
  font-weight: 400;
  color: #7A838B;
}

/* line 66, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info .rating_days .days i {
  margin-right: 8px;
}

/* line 69, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place .place_info .rating_days .days a {
  font-size: 14px;
  color: #7A838B;
}

/* line 76, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/* line 79, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place:hover .place_info h3 {
  color: #FF4A52;
}

/* line 85, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .single_place:hover .thumb .prise {
  background: #FF4A52;
}

/* line 91, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.popular_places_area .more_place_btn {
  margin-top: 40px;
}

/* line 97, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap h3 {
  font-size: 16px;
  font-weight: 500;
  color: #001D38;
  margin-bottom: 26px;
}

/* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_bordered {
  border: 1px solid #DEE2E7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
}

@media (max-width: 767px) {
  /* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
  .filter_result_wrap .filter_bordered {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 103, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
  .filter_result_wrap .filter_bordered {
    margin-bottom: 30px;
  }
}

/* line 114, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner {
  display: block;
  overflow: visible;
}

/* line 118, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 300;
  background: transparent;
  border: 1px solid #DEE2E7;
  margin-bottom: 15px;
}

/* line 128, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select::after {
  content: '\f0d7 ';
  right: 21px;
  top: 5px;
  font-family: 'fontawesome';
  color: #AAB1B7;
  font-size: 16px;
}

/* line 136, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-weight: 400;
}

/* line 151, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .filter_inner .nice-select.open .list {
  width: 100%;
}

/* line 157, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap span.range {
  color: #040E27;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}

/* line 164, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap p {
  margin-top: 14px;
  margin-bottom: 27px;
}

/* line 167, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap p input {
  background-color: transparent;
}

/* line 171, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-widget.ui-widget-content {
  border: 0;
  background: #FFD8DA;
}

/* line 175, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-slider-horizontal {
  height: 2px;
}

/* line 178, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-widget-content .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-widget-header .ui-state-default, .filter_result_wrap .range_slider_wrap .ui-button, .filter_result_wrap .range_slider_wrap html .ui-button.ui-state-disabled:hover, .filter_result_wrap .range_slider_wrap html .ui-button.ui-state-disabled:active {
  border: 2px solid #FF4A52;
  background: #fff;
  font-weight: normal;
  width: 14px;
  height: 16px;
  border-radius: 5px;
}

/* line 186, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-widget-header {
  background: #FF4A52;
}

/* line 189, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .range_slider_wrap .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  margin-left: -.6em;
}

/* line 195, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_popular_place.scss */
.filter_result_wrap .reset_btn button {
  width: 100%;
}

@media (max-width: 767px) {
  /* line 12, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_travel_variation.scss */
  .travel_variation_area .single_travel h3 {
    margin-top: 20px;
  }
}

/* line 23, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_travel_variation.scss */
.travel_variation_area .single_travel p {
  font-size: 16px;
  font-weight: 400;
  color: #6E6E6E;
}


/* line 53, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact label {
  font-size: 14px;
}

/* line 57, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact .form-group {
  margin-bottom: 30px;
}

/* line 61, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 69, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 74, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 80, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_contact.scss */
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

/* line 441, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}

/* line 449, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.list-style {
  width: 14px;
  height: 14px;
}

/* line 455, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

/* line 459, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.unordered-list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  background: black;
  top: 12px;
  left: 0;
  border-radius: 50%;
}

/* line 473, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list {
  margin-left: 30px;
}

/* line 475, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 480, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 488, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 494, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list-alpha li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 502, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #ff5e13;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 508, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.ordered-list-roman li span {
  font-weight: 300;
  color: #828bb2;
}

/* line 515, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 523, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input:focus {
  outline: none;
}

/* line 528, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.input-group-icon {
  position: relative;
}

/* line 530, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

/* line 535, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.input-group-icon .icon i {
  color: #797979;
}

/* line 540, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.input-group-icon .single-input {
  padding-left: 45px;
}

/* line 545, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

/* line 555, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-textarea:focus {
  outline: none;
}

/* line 560, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 568, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-primary:focus {
  outline: none;
  border: 1px solid #ff5e13;
}

/* line 574, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 582, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

/* line 588, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 596, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

/* line 602, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

/* Skeleton Wrapper */
#content {
  max-width: 500px;
  margin: 0 auto;
}

.skeleton-wrapper {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 10px 15px;
}

.skeleton-wrapper-inner {
  height: 150px;
  padding: 15px;
  position: relative;
}

.skeleton-wrapper-body div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 300px;
  height: 300px;
  position: relative;
}

.skeleton-wrapper-body {
  -webkit-animation-name: skeletonAnimate;
  background-image: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, red), color-stop(.15, orange), color-stop(.3, yellow), color-stop(.45, green), color-stop(.6, blue), color-stop(.75, indigo), color-stop(.8, violet), to(red));
  background-image: -webkit-linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%,indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto;
}

.skeleton-wrapper-body div {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 15px;
}

div.skeleton-avatar {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  right: auto;
}

div.skeleton-label {
  top: 0;
  height: 230px;
}

div.skeleton-author {
  top: 260px;
  height: 25px;
  left: 35px;
  width: 300px;
}

div.skeleton-content-1,
div.skeleton-content-2,
div.skeleton-content-3 {
  left: 35px;
  right: 15px;
  height: 12px;
}

div.skeleton-content-1 {
  top: 300px;
  width: 280px;
}

div.skeleton-content-2 {
  top: 335px;
  width: 90px;  
  display: inline;
}

div.skeleton-content-3 {
  top: 335px;
  width: 90px;
  left: 150px;
  display: inline;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}

div.recipe-placeholder-card {
  height: 24rem; 
  background-image: linear-gradient(#fff, #fff), linear-gradient(#F7FAFD, #F7FAFD);
  background-clip: content-box, padding-box;
}


ul.list {
  width: 100%;
}